version: 2.1
jobs:
  build:
    docker:
      - image: cimg/go:1.17
        auth:
          username: $DOCKER_USERNAME
          password: $DOCKER_PASSWORD  # context / project UI env-var reference
    steps:
      - checkout
      # ... steps for building/testing app ...

      - setup_remote_docker:
          version: 20.10.14
          docker_layer_caching: true

      # build and push Docker image
      # using circle_build_num for dummy semantic versioning
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker build -t mshallom/practicerepo:$TAG .
          echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
          docker push mshallom/practicerepo:$TAG
          docker-compose -f docker-compose.yaml -d up

workflows:
  new-workflow:
    jobs:
      - build