version: 2.1
orbs: 
  gitleaks: appfolio/gitleaks@0.0.1

display:
  source_url: https://github.com/appfolio/gitleaks-orb
jobs:
  scan_for_secrets:
    docker:
      - image: 'circleci/golang:<< parameters.tag >>'
    parameters:
      tag:
        default: latest
        description: >
          Pick a specific circleci/node image variant:
          https://hub.docker.com/r/cimg/node/tags
        type: string
      filename:
        type: string
        description: |
          Pick a filename to write commit hashes to
        default: commits-file
      branch:
        type: string
        description: |
          Pick the branch to run Gitleaks on
        default: ${CIRCLE_BRANCH}
    steps:
      - checkout
      - run:
          name: Install Gitleaks
          command: |
            GO111MODULE=on go get github.com/zricethezav/gitleaks/v7
      - run:
          name: List Commits
          command: |
            git rev-list $(git merge-base main << parameters.branch >>)..<< parameters.branch >> > << parameters.filename >>
      - run:
          name: Run Gitleaks
          command: |
            gitleaks -v --branch=main --commits-file=<< parameters.filename >> --path=.

workflows:
  test-workflow:
    jobs:
      - scan_for_secrets