version: 2.1
orbs:
  anchore: anchore/anchore-engine@1.6.0
jobs:
  local_image_scan:
    executor: anchore/anchore_engine
    steps:
    - setup_remote_docker
    - checkout
    # - run:
    #     command: docker build -t "mshallom/practicerepo:0.1.0" .
    #     name: build container
    - anchore/analyze_local_image:
        dockerfile_path: ./Dockerfile
        image_name: mshallom/practicerepo:0.1.0
        policy_bundle_file_path: .circleci/.anchore/policy_bundle.json
        policy_failure: true
        timeout: "500"
    - anchore/parse_reports
    - store_artifacts:
        path: anchore-reports

workflows:
  scan-workflow:
    jobs:
      - local_image_scan