version: 2.1

orbs: 
  node: circleci/node@5.0.2 

jobs:
  build-app:
    docker:
      - image: cimg/node:15.0.1
    steps:
      - checkout
      - restore_cache:
          keys: [application-build]
      - run:
          name: Building our application with node
          command: |
            npm install
      - save_cache:
          paths: [./node_modules]
          key: application-build
  audit-app:
    docker: 
      - image: cimg/node:15.0.1
    steps:  
      - checkout
      - restore_cache:  
          keys: [application-build]
      - run:
          name: job running security audit on frontend build
          command: |
            npm install
            npm audit fix --audit-level=critical --force
            npm audit --audit-level=critical
  deploy-frontend:
    docker:
    - image: cimg/node:15.0.1
      auth:
            username: $DOCKER_USERNAME
            password: $DOCKER_PASSWORD
    steps:
      - checkout
      - restore_cache:
          keys: [application-build]
      - run:
          name: checking docker version
          command: |
            docker --version
      - run:
          name: login into docker hub
          command: |
            # docker login -u="${DOCKER_USERNAME}" -p="${DOCKER_PASSWORD}"
            sudo service docker start
            docker build -t artifact .
            docker images
            





workflows:
  my_workflow:
    jobs:
      - deploy-frontend
      # - build-app
      # - audit-app
      # - deploy-frontend:
      #     requires: [build-app, audit-app]
  