version: 2.1
orbs:
  swissknife: roopakv/swissknife@0.29.0

executors:
  main:
    docker:
    - image: cimg/go:1.17

jobs:
  test:
    executor: main
    steps:
      - checkout
      - swissknife/build_and_check_circle_config:
          custom-error-message: Please run "make circle-config" and push up.
          fail-if-dirty: true


workflows:
  my-workflow:
    jobs:
      - test

