version: 2.1
orbs: 
  gitleaks: upenn-libraries/gitleaks@0.1.0

# working_directory: /root/project

commands:
  check_local:
    description: |
      Run Gitleaks against a local repository.
    parameters:
      options:
        default: ""
        description: Additional options to pass to the Gitleaks CLI.
        type: string
      path:
        default: ${CIRCLE_WORKING_DIRECTORY}
        description: Path to the local Git repository.
        type: string
    steps:
    - run:
        command: |
          gitleaks --repo-path=<< parameters.path >> << parameters.options >>
        name: Check repository for secrets

executors:
  docker:
    description: |
      Use a Gitleaks Docker container to check the repository for secrets.
    docker:
    - image: << parameters.image >>
    parameters:
      image:
        default: zricethezav/gitleaks
        description: |
          The Gitleaks Docker image to use when checking a repository. It is
          recommended that you publish your own image instead of trusting an image
          that you don't control.
        type: string
jobs:
  check_local:
    description: |
      Clone a Git repository and check it for secrets.
    executor:
      image: << parameters.image >>
      name: docker
    parameters:
      image:
        default: zricethezav/gitleaks
        description: |
          The Gitleaks Docker image to use when checking a repository. It is
          recommended that you publish your own image instead of trusting an image
          that you don't control.
        type: string
      options:
        default: ""
        description: Additional options to pass to the Gitleaks CLI.
        type: string
    steps:
    - checkout
    - check_local:
        options: << parameters.options >>

workflows:
  test-workflows:
    jobs:
      - check_local